<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782408760749-8ge54k4nq4oa13dvbj8scaet2t7is724.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782408760749-8ge54k4nq4oa13dvbj8scaet2t7is724</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>782408760749-ar2i1bo0e140aq4ot4df9r6495898obq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYVCgRJKiMFw4FuXvRj2MR19VKEPMlN5k</string>
	<key>GCM_SENDER_ID</key>
	<string>782408760749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAudioFlutter</string>
	<key>PROJECT_ID</key>
	<string>bandapp-18967</string>
	<key>STORAGE_BUCKET</key>
	<string>bandapp-18967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782408760749:ios:280a59e38fb4754657b524</string>
</dict>
</plist>